@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


* { 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
}

.clock {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align-last: center;
    border: 2px solid black;
}

.clock span {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 24px;
}

.hour, .min, .sec {
    position: absolute;
    background-color: #000;
    bottom: 50%;
    border-radius: 10px;
    transform-origin: bottom;
}

.hour {
    width: 10px;
    height: 35%;
    z-index: 1;
    border: 1px solid gray;
}

.min {
    width: 8px;
    height: 40%;
    z-index: 2;
    border: 1px solid gray;
}

.sec {
    width: 4px;
    height: 45%;
    z-index: 3;
    background-color: red;
}

.clock::after {
    content: '';
    width: 10px;
    height: 10px;
    z-index: 4;
    background-color: #000;
    border-radius: 50%;
    border: 1px solid gray;
}








/* ======= Responsive/Responsividade ======= */
@media (max-width: 991px){

    html {
        font-size: 55%;
    }

}

@media (max-width: 768px){


}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

}